:root{
  --bg-color: #f9f9f9;
  --text-color: #222;
  --card-bg: #fff;
  --btn-bg: #007bff;
  --btn-text: #fff;
}

body.dark{
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #1e1e1e;
  --btn-bg: #4a90e2;
  --btn-text: #fff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition:background 0.3s, color 0.3s
}

.container {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

button {
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease, background 0.3s;
}

button:hover {
  transform: scale(1.05);
}


#qrcode {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}


.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}